#Local
#DB_PROTOCOL=jdbc:postgresql://
#DB_SERVER_NAME=localhost
#DB_SERVER_PORT=5432
#DB_NAME=xively
#DB_USER_NAME=postgres
#DB_PASSWORD=sandip123

#CHORDS server
DB_PROTOCOL=jdbc:postgresql://
DB_SERVER_NAME=52.0.129.182
DB_SERVER_PORT=5432
DB_NAME=xively
DB_USER_NAME=postgres
DB_PASSWORD=password