<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CMACWB"
            id="edu.uah.itsc.cmac">
      </category>
      <view
            name="Experiment"
            icon="icons/brick.png"
            category="edu.uah.itsc.cmac"
            class="edu.uah.itsc.cmac.experimentformview.views.ExperimentFormView"
            id="edu.uah.itsc.cmac.experimentformview.views.ExperimentFormView">
      </view>
   </extension>

</plugin>
