<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CMACWB"
            id="edu.uah.itsc.cmac">
      </category>
      <view
            name="Program"
            icon="icons/application_form.png"
            category="edu.uah.itsc.cmac"
            class="edu.uah.itsc.programformview.views.ProgramFormView"
            id="edu.uah.itsc.programformview.views.ProgramFormView">
      </view>
   </extension>

</plugin>
