<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CMACWB"
            id="edu.uah.itsc.cmac">
      </category>
      <view
            name="EC2 Instance View"
            icon="icons/sample.gif"
            category="edu.uah.itsc.cmac"
            class="edu.uah.itsc.cmac.ec2instance.views.EC2InstanceView"
            id="edu.uah.itsc.cmac.ec2instance.views.EC2InstanceView">
      </view>
   </extension>

</plugin>
