<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="edu.uah.itsc.cmac.glm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="GLM Validation Category"
            id="glm">
      </category>
      <view
            category="glm"
            class="edu.uah.itsc.cmac.glm.views.NavigationView"
            icon="icons/sample.gif"
            id="NavigationView"
            name="Project">
      </view>
      <view
            category="glm"
            class="edu.uah.itsc.cmac.glm.views.DataView"
            icon="icons/sample.gif"
            id="DataView"
            name="Lightning Data View">
      </view>
      <view
            category="glm"
            class="edu.uah.itsc.cmac.glm.views.MetricsView"
            icon="icons/sample.gif"
            id="MetricsView"
            name="Flash Rate View">
      </view>
      <view
            category="glm"
            class="edu.uah.itsc.cmac.glm.views.TimelineView"
            icon="icons/sample.gif"
            id="TimelineView"
            name="Animation Controls">
      </view>
      <view
            category="glm"
            class="edu.uah.itsc.cmac.glm.views.ValidationView"
            icon="icons/sample.gif"
            id="ValidationView"
            name="GLM Coincidence View">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.uah.itsc.cmac.glm.views.Perspective"
            id="edu.uah.itsc.cmac.glm.Perspective"
            name="GLM Validation">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.uah.itsc.cmac.glm.application"
            name="glm">
         <property
               name="appName"
               value="glm">
         </property>
      </product>
   </extension>

</plugin>
