<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.3"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CMACWB"
            id="edu.uah.itsc.cmac">
      </category>
      <view
            name="Search"
            icon="icons/find.png"
            category="edu.uah.itsc.cmac"
            class="edu.uah.itsc.cmac.searchview.views.SearchView"
            id="edu.uah.itsc.cmac.searchview.views.SearchView">
      </view>
      <view
            name="Search Results"
            icon="icons/pictures.png"
            category="edu.uah.itsc.cmac"
            class="edu.uah.itsc.cmac.searchview.views.SearchResultView"
            id="edu.uah.itsc.cmac.searchview.views.SearchResultView">
      </view>
   </extension>
</plugin>
