<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="piworkflow.editors.MultiPageEditor"
            contributorClass="piworkflow.editors.MultiPageEditorContributor"
            icon="icons/cmac-16x16.png"
            id="edu.uah.itsc.cmac.workflow.editor"
            name="CMAC Workflow Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Workflow Wizard"
            id="CMACWorkFlow">
      </category>
      <wizard
            name="CMAC Workflow"
            icon="icons/cmac-16x16.png"
            category="CMACWorkFlow"
            class="piworkflow.wizards.SampleNewWizard"
            id="piworkflow.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="PIWorkFlow.actionSet2"
            label="Workflow "
            visible="true">
         <menu
               id="CMACWorkFlow.menu1"
               label="Workflow &amp;Options">
         </menu>
         <action
               class="edu.uah.itsc.workflow.menuOptions.WorkFlowSave"
               icon="icons/sample.gif"
               id="CMACWorkFlow.action1"
               label="Save"
               menubarPath="CMACWorkFlow.menu1/workflowOptions"
               style="push"
               tooltip="WorkFlow Save">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="edu.uah.itsc.cmac.workflowEditor.openWorkflowEditor"
            nameFilter="*.json"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="edu.uah.itsc.workflow.actionHandler.OpenCMACEditor"
               icon="icons/cmac-16x16.png"
               id="edu.uah.itsc.cmac.workflowEditor.openWorkFlow"
               label="Open CMAC Editor">
         </action>
      </objectContribution>
   </extension>

</plugin>
