<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.uah.itsc.cmac.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open File"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Print"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               label="Workbench">
            <command
                  commandId="edu.uah.itsc.cmac3.AddExperiment"
                  label="Add Experiment"
                  style="push">
            </command>
            <command
                  commandId="edu.uah.itsc.cmac.AddVersion"
                  label="Add Version"
                  style="push">
            </command>
            <command
                  commandId="edu.uah.itsc.cmac.Share"
                  label="Share"
                  style="push">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="edu.uah.itsc.cmac.rcp.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Print"
                  style="push">
            </command>
            <separator
                  name="edu.uah.itsc.cmac.rcp.editSeparator"
                  visible="true">
            </separator>
                        <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
            <separator
                  name="edu.uah.itsc.cmac.rcp.cmacSeparator">
            </separator>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="cwb"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.uah.itsc.cmac.rcp.application"
            name="Collaborative Workbench">
         <property
               name="windowImages"
               value="platform:/plugin/edu.uah.itsc.cmac3/icons/branding_files/icon-16.png,platform:/plugin/edu.uah.itsc.cmac3/icons/branding_files/icon-32.png,platform:/plugin/edu.uah.itsc.cmac3/icons/branding_files/icon-48.png,platform:/plugin/edu.uah.itsc.cmac3/icons/branding_files/icon-64.png,platform:/plugin/edu.uah.itsc.cmac3/icons/branding_files/icon-128.png">
         </property>
         <property
               name="aboutText"
               value="Collaborative Workbench (CWB) is funded by NASA Computational Modeling Algorithms and Cyberinfrastructure (CMAC) Grant. &#x0A;&#x0A;Copyright 2014 - University of Alabama in Huntsville&#x0A;http://www.itsc.uah.edu">
         </property>
         <property
               name="appName"
               value="Collaborative Workbench">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/edu.uah.itsc.cmac3/icons/branding_files/icon-128.png">
         </property>
      </product>
   </extension>
</plugin>
